p {
  font-family: Arial;
}

h1 {
	color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

/* you can add multiple classes to an HTML element's class attribute by separating them with a space */
